@model IEnumerable<Roundpay_Robo.Models.LapuReport>

@if (Model.Any())
{
    int i = 0;
    foreach (var item in Model)
    {
        i++;
        <tr data-lapu-Id="@item.LapuID" data-user-Id="@item.UserID">
            <td>@i</td>
            <td style="width: 225px;"><i onclick="RequestResponse()" class="fas fa-info-circle" style="cursor: pointer;"></i><span> @item.TransactionID</span></td>
            <td>@item.AccountNo</td>
            <td>@item.OutletName</td>
            <td>@item.Provider</td>
            <td>@item.EntryDate</td>
            <td>@item.ModifyDate</td>
            <td>@item.LapuOpening</td>
            <td>@item.RechargeAmount</td>
            <td>@item.LapuClosing</td>
            <td>@item.LapuNo</td>
            <td>@item.LiveID</td>
            <td>
                @if (@item.Type == 1)
                {
                    <a class="btn btn-sm btn-warning text-light">Pending</a>
                }
                @if (@item.Type == 2)
                {
                    <a class="btn btn-sm btn-success text-light">Success</a>
                }
                @if (@item.Type == 3)
                {
                    <a class="btn btn-sm btn-danger text-light">Failed</a>
                }
            </td>
            @*<td class="text-nowrap"> <a class="btn btn-sm btn-danger text-light" onclick="btnDelete()"><i class="fas fa-trash"></i></a>
                <a class="btn btn-sm btn-info text-light" onclick="btnEditLapu()"><i class="fas fa-pen"></i></a></td>*@
        </tr>
    }
}
else
{
    <tr>
        <td style="text-align:center" colspan="13">No Data to Display</td>
    </tr>
}


<script>
    //function RequestResponse(){
    //    debugger;
    //    var data ={ 
    //        LapuID: a.closest('tr').data().lapuId,
    //        UserID: a.closest('tr').data().userId
    //    }

    //    $.post("GetReqRes", data).done(function(result){
    //        debugger;
    //        if(typeof result == 'object'){
    //            resultReload(result);
    //        }
    //        else{
    //            mdlA.id = 'mymodel1';
    //            mdlA.content = result;
    //            mdlA.options.backdrop = 'static';
    //            mdlA.alert(mdlA.size.default);
    //            $('button.close span,#mdlCancel').unbind().click(function () {
    //                mdlA.dispose();
    //            });
    //        }
    //        console.log(result);
    //    }).fail(function(xhr){        
    //        alert("Failed");
    //    });
    //}
</script>
