@model IEnumerable<Roundpay_Robo.Models.LapuReport>

@if (Model.Any())
{
    int i = 0;
    foreach (var item in Model)
    {
        i++;
        <tr data-lapu-Id="@item.LapuID" data-Transaction-Id="@item.TransactionID">
            <td>@i</td>
            @*<td style="width: 225px;"><i onclick="RequestResponse(@item.TID, @item.LapuID)" class="fas fa-info-circle" style="cursor: pointer;"></i><span> @item.TransactionID</span></td>*@
            <td>@item.AccountNo</td>
            <td>@item.OutletName</td>
            <td>@item.Provider</td>
            <td>@item.EntryDate</td>
            <td>@item.ModifyDate</td>
            <td>@item.LapuOpening</td>
            <td>@item.RechargeAmount</td>
            <td>@item.LapuClosing</td>
            <td>@item.LapuNo</td>
            <td>@item.LiveID</td>
            <td>
                @if (@item.Type == 1)
                {
                    <h6><span class="badge badge-warning text-light">Pending</span></h6>
                }
                @if (@item.Type == 2)
                {
                    <h6><span class="badge badge-success text-light">Success</span></h6>
                }
                @if (@item.Type == 3)
                {
                    <h6><span class="badge badge-danger text-light">Failed</span></h6>
                }
            </td>
            <td>
                @if (@item.Type == 1)
                {
                    <textarea class="cus-textarea"></textarea>
                    <a class="cus-btn btn btn-sm btn-success text-light">Success</a>
                    <a class="cus-btn btn btn-sm btn-danger text-light">Failed</a>
                }
            </td>
            @*<td class="text-nowrap"> <a class="btn btn-sm btn-danger text-light" onclick="btnDelete()"><i class="fas fa-trash"></i></a>
                <a class="btn btn-sm btn-info text-light" onclick="btnEditLapu()"><i class="fas fa-pen"></i></a></td>*@
        </tr>
    }
}
else
{
    <tr>
        <td style="text-align:center" colspan="13">No Data to Display</td>
    </tr>
}


<script>
    function RequestResponse(TID, LapuID){
        preloader.load();
        debugger;
        $.post(`GetReqRes/${TID}/${LapuID}`).done(function(result){
            preloader.remove();
            if(typeof result == 'object'){
                resultReload(result);
            }
            else{
                mdlA.id = 'mymodel1';
                mdlA.content = result;
                mdlA.options.backdrop = 'static';
                mdlA.alert(mdlA.size.xlarge);
                $('button.close span,#mdlCancel').unbind().click(function () {
                    mdlA.dispose();
                });
            }
        }).fail(function(xhr){
            an.title = "Oops !";
            an.content = "Server Error";
            an.alert(an.type.failed);
        });
    }
    function MarkFail(){
        debugger;
        $.post("MarkFailPopUp").done(function(result){
            mdlA.id = 'mymodel1';
            mdlA.content = result;
            mdlA.options.backdrop = 'static';
            mdlA.alert(mdlA.size.default);
            $('button.close span,#mdlCancel').unbind().click(function () {
                mdlA.dispose();
            });
        }).fail(function(xhr){
            an.title = "Oops !";
            an.content = "Server Error";
            an.alert(an.type.failed);
        });
    }
    function MarkSuccess(){
        debugger;
        $.post("MarkSuccessPopUp").done(function(result){
            mdlA.id = 'mymodel1';
            mdlA.content = result;
            mdlA.options.backdrop = 'static';
            mdlA.alert(mdlA.size.default);
            $('button.close span,#mdlCancel').unbind().click(function () {
                mdlA.dispose();
            });
        }).fail(function(xhr){
            an.title = "Oops !";
            an.content = "Server Error";
            an.alert(an.type.failed);
        });
    }
</script>
