@model IEnumerable<Roundpay_Robo.Models.LapuReport>

@if(Model.Any()){
   int i = 0;
    foreach(var item in Model)
    {
        i++;
        <tr>
            <td>@i</td>
            <td class="text-nowrap">@item.TransactionID</td>
            <td class="text-nowrap">@item.AccountNo</td>
            <td class="text-nowrap">@item.OutletName</td>
            <td class="text-nowrap">@item.Provider</td>
            <td class="text-nowrap">@item.EntryDate</td>
            <td class="text-nowrap">@item.ModifyDate</td>
            <td class="text-nowrap">@item.LapuOpening</td>
            <td class="text-nowrap">@item.RechargeAmount</td>
            <td class="text-nowrap">@item.LapuClosing</td>
            <td class="text-nowrap">@item.lapuNo</td>
            <td>@item.LiveID</td>
            <td>@item.Status</td>            
            @*<td class="text-nowrap"> <a class="btn btn-sm btn-danger text-light" onclick="btnDelete()"><i class="fas fa-trash"></i></a>
                <a class="btn btn-sm btn-info text-light" onclick="btnEditLapu()"><i class="fas fa-pen"></i></a></td>*@
        </tr>
    }
}