@using Roundpay_Robo.Models
@model SeviceVendorVM
@if (Model != null)
{
    <div class="col-md-12">
        <div class="row">
            @foreach (var item in Model.listLAPU)
            {
                <input type="hidden" value="@item.LapuID " id="hiddenModalID" />

            }
            <div class="col-md-12 mb-2" id="LapuVendor">
                <label class="lbl mb-1" for="LapuVendorList">Vendor</label>
                <select class="form-control" id="LapuVendorList">
                    <option value="0">:: Select Vendor ::</option>
                    @foreach (var item in Model.listLAPU)
                    {
                        <option value="@item.VendorID">@item.VendorName</option>
                    }
                    <option id="OthersVendor" value="-1">Others</option>
                </select>
                <input type="text" style="display:none;" class="col-md-12 mt-2 form-control" placeholder="Enter Vendor" id="txtforOthers" />
            </div>
            <div class="col-md-12 mb-2" id="LapuProvider">
                <label class="lbl mb-1" for="LapuProviderList">Provider</label>
                <select class="form-control" id="LapuProviderList">
                    <option value="0">:: Select Provider ::</option>
                    @foreach (var item in Model.listLapuServices)
                    {
                        <option data-lapu-Type="@item.LapuTypeID" value="@item.SID">@item.Name</option>
                    }
                </select>
            </div>
            <div class="col-md-12">
                <label class="lbl mb-1" for="LapuNickName">Lapu NickName</label>
                <input type="text" class="form-control" placeholder="Enter Lapu NickName" id="LapuNickName" value="" />
            </div>
            <div class="col-md-12">
                <label class="lbl mb-1" for="LapuMobileno">Lapu Mobile No.</label>
                <input type="text" class="form-control" placeholder=" Enter Lapu Number" id="LapuMobileno" value="" />
            </div>
            <div class="col-md-12">
                <label class="lbl mb-1" for="LapuUserId">Lapu UserId</label>
                <input type="text" class="form-control" placeholder="Enter UserId" id="LapuUserId" value="" />
            </div>
            <div class="col-md-12">
                <label class="lbl mb-1" for="LapuPassword">Password</label>
                <input type="password" class="form-control" placeholder="Lapu Password" id="LapuPassword" value="" />
            </div>
            <div class="col-md-12">
                <label class="lbl mb-1" for="LapuPin">PIN</label>
                <input type="text" class="form-control" placeholder="Lapu PIN" id="LapuPin" value="" />
            </div>
            <div class="col-md-12 mt-3">
                <div class="float-right">
                    <button type="button" class="btn btn-dark" id="btnSave" tabindex="7">Save</button>
                    <button class="btn btn-danger" id="mdlCancel">Cancel</button>
                </div>
            </div>
            <div class="form-group form-box">
                <small id="errorMsg" class="text-danger hide"></small>
            </div>
        </div>
    </div>
}